.image {
  background-image: url("https://png.pngtree.com/background/20230612/original/pngtree-barbershop-with-chairs-in-traditional-styles-and-mirrors-in-front-picture-image_3372710.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
